<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'forgetform.css' %}">
</head>

<body>

    <div class="main-container">


        <div class="left-panel">
            <h1>Password Reset</h1>
            <p>No worries. We’ll help you recover your account.</p>
        </div>


        <div class="right-panel">
            <div class="signup-card">
                {% if messages %}
                {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <h2>Forgot Password</h2>

                <form method="post" action="{% url 'password_reset' %}">
                    {% csrf_token %}

                    <input type="email" name="email" placeholder="Enter your registered email" required>

                    <button type="submit">Send Reset Link</button>
                </form>

                <div class="login-link">
                    <p>Remember your password?
                        <a href="{% url 'login_enterpage' %}">Login here</a>
                    </p>
                </div>

            </div>
        </div>

    </div>

</body>

</html>